In [1]:
import pandas as pd

### 1. 상품과 아이템(상품) 데이터셋 결합. 다시 상품명 데이터셋 결합 --> item
### 2. 고객과 주문 데이터셋 결합 --> order
### 3. 결합된 item과 order 데이터셋 결합

- ## 1번 item 데이터셋 만들기

In [2]:
items = pd.read_csv('C:/Users/elley/Desktop/Python/project_4_portfolio/ecommerce/cleaned_csv/items.csv')
print(items.shape)
items.head(3)

(98666, 8)

,order_id,item_count,product_id,seller_id,shipping_limit_date,price,freight_value,profit
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 9:45,58.9,13.29,58.9
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05,239.9,19.93,239.9
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48,199.0,17.87,199.0

In [3]:
products = pd.read_csv('C:/Users/elley/Desktop/Python/project_4_portfolio/ecommerce/olist_products.csv')
print(products.shape)
products.head(3)

(32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [4]:
items = pd.merge(items, products, how='left', on='product_id')

In [5]:
# 불필요한 컬럼 제거

items = items.drop(items.columns[9:16], axis=1)

In [6]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               98666 non-null  object
 1   item_count             98666 non-null  int64
 2   product_id             98666 non-null  object
 3   seller_id              98666 non-null  object
 4   shipping_limit_date    98666 non-null  object
 5   price                  98666 non-null  float64
 6   freight_value          98666 non-null  float64
 7   profit                 98666 non-null  float64
 8   product_category_name  97248 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

In [7]:
product_name = pd.read_csv('C:/Users/elley/Desktop/Python/project_4_portfolio/ecommerce/cleaned_csv/product_name.csv')
product_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
 2   korean                         71 non-null     object
dtypes: object(3)
memory usage: 1.8+ KB

In [8]:
# items 데이터의 카테고리명과 product_name의 카테고리명 데이터 결합

items = pd.merge(items, product_name, how='left', on='product_category_name')

In [9]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98666 non-null  object
 1   item_count                     98666 non-null  int64
 2   product_id                     98666 non-null  object
 3   seller_id                      98666 non-null  object
 4   shipping_limit_date            98666 non-null  object
 5   price                          98666 non-null  float64
 6   freight_value                  98666 non-null  float64
 7   profit                         98666 non-null  float64
 8   product_category_name          97248 non-null  object
 9   product_category_name_english  97226 non-null  object
 10  korean                         97226 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 8.3+ MB

In [10]:
items = items.drop(items.columns[[3,4,6,8]], axis=1)
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98666 non-null  object
 1   item_count                     98666 non-null  int64
 2   product_id                     98666 non-null  object
 3   price                          98666 non-null  float64
 4   profit                         98666 non-null  float64
 5   product_category_name_english  97226 non-null  object
 6   korean                         97226 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.3+ MB

- ## 2번 order 데이터셋 만들기

In [11]:
orders = pd.read_csv('C:/Users/elley/Desktop/Python/project_4_portfolio/ecommerce/cleaned_csv/orders.csv')
print(orders.shape)
orders.head(3)

(98059, 8)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56,2017-10-02 11:07,2017-10-04 19:55,2017-10-10 21:25,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41,2018-07-26 3:24,2018-07-26 14:31,2018-08-07 15:27,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 8:38,2018-08-08 8:55,2018-08-08 13:50,2018-08-17 18:06,2018-09-04

In [12]:
customers = pd.read_csv('C:/Users/elley/Desktop/Python/project_4_portfolio/ecommerce/cleaned_csv/customers.csv')
print(customers.shape)
customers.head(3)

(99441, 8)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,latitude,longitude,kor_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-23.5505,-46.6333,상파울루
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.5505,-46.6333,상파울루
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.5505,-46.6333,상파울루

In [13]:
# orders 데이터와 고객 데이터 결합

orders = pd.merge(orders, customers, how='left', on='customer_id')

In [14]:
orders = orders.drop(orders.columns[[9,10]], axis=1)
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98059 entries, 0 to 98058
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98059 non-null  object
 1   customer_id                    98059 non-null  object
 2   order_status                   98059 non-null  object
 3   order_purchase_timestamp       98059 non-null  object
 4   order_approved_at              97899 non-null  object
 5   order_delivered_carrier_date   96276 non-null  object
 6   order_delivered_customer_date  95103 non-null  object
 7   order_estimated_delivery_date  98059 non-null  object
 8   customer_unique_id             98059 non-null  object
 9   customer_state                 98059 non-null  object
 10  latitude                       98059 non-null  float64
 11  longitude                      98059 non-null  float64
 12  kor_state                      98059 non-null  object
dtypes: float64(2), object(11)
memory usage: 9.7+ MB

- ## 3번 item과 order 데이터셋 합친 order_item 데이터셋 만들기

In [15]:
order_item = pd.merge(orders, items, how='left', on='order_id')

In [16]:
order_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98059 entries, 0 to 98058
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98059 non-null  object
 1   customer_id                    98059 non-null  object
 2   order_status                   98059 non-null  object
 3   order_purchase_timestamp       98059 non-null  object
 4   order_approved_at              97899 non-null  object
 5   order_delivered_carrier_date   96276 non-null  object
 6   order_delivered_customer_date  95103 non-null  object
 7   order_estimated_delivery_date  98059 non-null  object
 8   customer_unique_id             98059 non-null  object
 9   customer_state                 98059 non-null  object
 10  latitude                       98059 non-null  float64
 11  longitude                      98059 non-null  float64
 12  kor_state                      98059 non-null  object
 13  item_count                     97284 non-null  float64
 14  product_id                     97284 non-null  object
 15  price                          97284 non-null  float64
 16  profit                         97284 non-null  float64
 17  product_category_name_english  95854 non-null  object
 18  korean                         95854 non-null  object
dtypes: float64(5), object(14)
memory usage: 14.2+ MB

- ### **'order_approved_at'** 컬럼에 null값 있는지 확인

In [17]:
null = order_item['order_approved_at'].isnull()

In [18]:
order_item[null]['order_status'].unique()

array(['canceled', 'delivered', 'created'], dtype=object)

In [19]:
order_item[null].groupby('order_status').size()

order_status
canceled     141
created        5
delivered     14
dtype: int64

- ### order_status가 canceled & created는 고객이 주문을 하고 상품을 완전히 구매했다고 볼 수는 없어서 delivered만 제외하고 두 항목은 삭제

In [20]:
exclude = order_item[null]
exclude.shape

(160, 19)

In [21]:
values_to_exclude = ['delivered']
filtered_exclude = exclude[~exclude['order_status'].isin(values_to_exclude)]

In [22]:
filtered_exclude.shape

(146, 19)

In [23]:
result = pd.merge(order_item, filtered_exclude, on='order_id', how='left', indicator=True)
result = result[result['_merge'] == 'left_only'].drop(columns=['_merge'])

In [24]:
result.shape

(97913, 37)

In [25]:
order_item = result

In [26]:
order_item = order_item.drop(order_item.columns[19:37], axis=1)

#### sales_order_item 으로 저장

- ### 카테고리명이 없는 2059(=97913-95854)개의 행 제거

In [28]:
category_order_item = order_item.dropna(subset=['korean_x'])

In [29]:
category_order_item.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95854 entries, 0 to 98058
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   order_id                         95854 non-null  object
 1   customer_id_x                    95854 non-null  object
 2   order_status_x                   95854 non-null  object
 3   order_purchase_timestamp_x       95854 non-null  object
 4   order_approved_at_x              95841 non-null  object
 5   order_delivered_carrier_date_x   94880 non-null  object
 6   order_delivered_customer_date_x  93733 non-null  object
 7   order_estimated_delivery_date_x  95854 non-null  object
 8   customer_unique_id_x             95854 non-null  object
 9   customer_state_x                 95854 non-null  object
 10  latitude_x                       95854 non-null  float64
 11  longitude_x                      95854 non-null  float64
 12  kor_state_x                      95854 non-null  object
 13  item_count_x                     95854 non-null  float64
 14  product_id_x                     95854 non-null  object
 15  price_x                          95854 non-null  float64
 16  profit_x                         95854 non-null  float64
 17  product_category_name_english_x  95854 non-null  object
 18  korean_x                         95854 non-null  object
dtypes: float64(5), object(14)
memory usage: 14.6+ MB

#### category_order_item 저장

1. order_item 엑셀파일 2018년 9월로 주문 승인 날짜 행 제거 --> 기존 엑셀파일명으로 저장

2. order_item 엑셀파일 다시 불러서 order_status가 'delivered' 상태이지만 'order_approved_at'가 null인 행 제거 --> 새로운 엑셀파일 만들어서 저장

In [30]:
df = pd.read_excel("C:/Users/elley/Desktop/Python/project_4_portfolio/ecommerce/excel/sales_order_item.xlsx")

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97913 entries, 0 to 97912
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       97913 non-null  object
 1   customer_id                    97913 non-null  object
 2   order_status                   97913 non-null  object
 3   order_purchase_timestamp       97913 non-null  object
 4   order_approved_at              97899 non-null  object
 5   order_delivered_carrier_date   96276 non-null  object
 6   order_delivered_customer_date  95103 non-null  object
 7   order_estimated_delivery_date  97913 non-null  object
 8   customer_unique_id             97913 non-null  object
 9   customer_state                 97913 non-null  object
 10  latitude                       97913 non-null  float64
 11  longitude                      97913 non-null  float64
 12  kor_state                      97913 non-null  object
 13  item_count                     97284 non-null  float64
 14  product_id                     97284 non-null  object
 15  price                          97284 non-null  float64
 16  profit                         97284 non-null  float64
 17  product_category_name_english  95854 non-null  object
 18  korean                         95854 non-null  object
dtypes: float64(5), object(14)
memory usage: 14.2+ MB

In [32]:
df['order_approved_at'] = pd.to_datetime(df['order_approved_at'], errors='coerce')

In [33]:
df_2018_09 = df[(df['order_approved_at'].dt.year == 2018) & (df['order_approved_at'].dt.month == 9)]
df_2018_09 = pd.DataFrame(df_2018_09)
df_2018_09

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_state,latitude,longitude,kor_state,item_count,product_id,price,profit,product_category_name_english,korean
61391,54282e97f61c23b78330c15b154c867d,4b7decb9b58e2569548b8b4c8e20e8d7,shipped,2018-09-03 9:06,2018-09-03 17:40:00,2018-09-04 15:25,NaN,2018-09-06,ff22e30958c13ffe219db7d711e8f564,SP,-23.5505,-46.6333,상파울루,1.0,b98992ea80b467987a7fbb88e7f2076a,145.0,145.0,kitchen_dining_laundry_garden_furniture,주방/식당/세탁/정원 가구

#### 2018_09 날짜인 데이터 제거

In [34]:
df = df[~df['order_id'].isin(df_2018_09['order_id'])]
df.shape

(97912, 19)

In [35]:
df.to_excel('sales.xlsx', index=False)

#### order_approved_at에 null값이 있는 행 제거

In [39]:
null = df['order_approved_at'].isnull()

In [41]:
null = pd.DataFrame(null)

In [42]:
indice = null[null['order_approved_at'] == False].index
df = df[df.index.isin(indice)]
print(df.shape)

(97898, 19)

In [43]:
df.to_excel('sales_order_approved.xlsx')